.d-none {
  display: none !important;
}
body {
  background-color: black;
  color: whitesmoke;
  font-family: monospace;
  text-transform: uppercase;
}
.container {
  min-width: 350px;
  max-width: 1200px;
  margin: 2% auto;
}

.get-user-name {
  display: flex;
  padding: 10px;
  align-items: center;
  font-size: 15px;
}

.get-user-name input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.335);
  margin: 0 10px;
  width: 120px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.get-user-name input:focus-visible {
  outline-color: rgb(216, 56, 83);
}

.get-user-name .start-btn {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.264);
  padding: 3px 10px;
  transition: all 0.2s;
}
.get-user-name .start-btn:hover {
  border: 1px solid rgb(160, 245, 178);
  box-shadow: 0px 0px 4px 5px rgba(92, 232, 122, 0.472);
}

.main-box {
  min-width: 300px;
  max-width: 250px;
  border: 1px solid rgba(173, 171, 171, 0.537);
  border-radius: 10px;
  margin: 55px auto;
  display: grid;
  gap: 15px;
  padding: 20px;
  justify-content: center;
  background-color: rgba(34, 57, 95, 0.659);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.446);
  grid-template-columns: repeat(4, 1fr);
}

.card {
  position: relative;
  min-height: 70px;
  max-height: 100px;
  min-width: 70px;
  max-width: 100px;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.323);
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
}

.hover {
  transform: rotateY(180deg);
}

.front {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.back {
  background-color: #d7c6c6;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
}
.backbg {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23fbfbfb' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.results-box {
  display: flex;
  justify-content: space-around;
  margin: 15px;
  font-size: 16px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 40px;
}
.buttons > .reset-btn,
.play-again-btn {
  background: transparent;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.2px;
  padding: 10px;
  transition: all 0.1s ease-in-out;
}
.buttons > .reset-btn:hover,
.play-again-btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.286);
  border-bottom: 1px solid rgba(255, 255, 255, 0.622);
  color: rgb(216, 56, 83);
}
.buttons > button:active {
  cursor: pointer;
  transform: translateY(-2px);
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(255, 255, 255, 0.286);
  border-bottom: 1px solid rgba(255, 255, 255, 0.622);
  color: rgb(56, 216, 107);
}

@media only screen and (max-width: 500px) {
  .results-box {
    display: block;
    text-align: center;
    line-height: 1.5;
  }
  .main-box {
    margin-top: 25px;
  }
}

table {
  width: 80%;
  margin: 25px auto;
  text-align: center;
}

.disable {
  pointer-events: none;
  filter: brightness(65%);
}
